GITApplication/SBProject/booksWsdl.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
    
     targetNamespace="https://www.bookws.com/xml/book"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:sch="https://www.bookws.com/xml/book"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:tns="https://www.bookws.com/xml/book"
    >
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://www.bookws.com/xml/book">
            <xs:element name="getBookRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBookResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Book" type="tns:Book"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Book">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="pages" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getBookRequest">
        <wsdl:part name="getBookRequest" element="sch:getBookRequest"/>
    </wsdl:message>
    <wsdl:message name="getBookResponse">
        <wsdl:part name="getBookResponse" element="sch:getBookResponse"/>
    </wsdl:message>
    <wsdl:portType name="BooksPort">
        <wsdl:operation name="getBook">
            <wsdl:input name="getBookRequest" message="sch:getBookRequest"/>
            <wsdl:output name="getBookResponse" message="sch:getBookResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BooksPortSoap11" type="sch:BooksPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getBook">
            <soap:operation soapAction=""/>
            <wsdl:input name="getBookRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getBookResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BooksPortService">
        <wsdl:port name="BooksPortSoap11" binding="sch:BooksPortSoap11">
            <soap:address location="http://129.146.194.222:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>